.radio {width:13px;height:13px;border:1px solid #e0e4e6;display:block;clear:left;float:left;border-radius:3px;-moz-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.1);box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.1);background-image:url('../images/components/checked.png');background-position:0 0;margin-right:10px;margin-top:3px;}
.copy{padding-bottom:0;}

.d-flex {display:flex;}
.nav-link{margin-top:31px;}
.footer-info{padding-top:31px;}

.radiobox-leesh{margin:5px 0;}
.radiobox-leesh .login__check-info{margin-right:13px;margin-bottom:0;}
.radiobox-leesh .login__check-info > span{margin-top:2px;}
.movie--preview .movie__feature .movie__feature--photo:before{right:7px;}

.pagination-leesh{justify-content:center;}
.pagination-leesh li a{border:1px solid #4c4145;padding:11px 17px;}
.pagination-leesh li:first-child a{border-radius:3px 0 0 3px;}
.pagination-leesh li:last-child a{border-radius:0 3px 3px 0;}
.pagination-leesh li a:hover span{color:#fe505a;transition:0.3s;}
.pagination-leesh li:not(:last-child) a{border-right:0;}
.pagination-leesh span{font:13px 'aleoregular', sans-serif;color:#4c4145;text-transform:uppercase;}